<footer class="footer">
    <div class="container text-center">
        <span class="text-muted">{{"Gemaakt met een "|trans}} <i class="fa fa-heart" style="color: red;"></i> {{" voor gdm.gent"|trans}} (derived from source files from <a href="https://knpuniversity.com">KnpUniversity</a>)</span>
    </div>
</footer>